.popup {
  margin: 0;
  color: black;
  position: fixed;
  top: 0;
  opacity: 0;
  bottom: 0;
  width: 100%;
  visibility: hidden;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;
}
