.popup__container_detail {
  height: 540px;
  position: relative;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .popup__container_detail {
    width: 240px;
    height: 299px;
  }
}
