.profile__job {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .profile__job {
    width: 282px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
  }
}
