.header__logo {
  height: 33px;
  width: 173px;
  margin-bottom: 41px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .header__logo {
    height: 24px;
    width: 126px;
    margin: 0 167px 32px 27px;
  }
}
