.header {
  height: 74px;
  width: 880px;
  margin: 45px auto 40px auto;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .header {
    height: 56px;
    width: 320px;
    margin: 28px auto 42px auto;
  }
}
