.card__like {
  all: unset;
  background-image: url("/images/like.png");
  background-size: cover;
  display: inline-block;
  height: 19px;
  width: 21px;
  bottom: 30px;
  right: 18px;
  position: absolute;
  cursor: pointer;
}
.card__like:hover {
  opacity: 0.5;
}
